.container
{
    border-radius: 5px;
    padding: 12px;
    background-color: #f2f2f2;
    position: absolute;
    width: 70%;
    min-height: 50px;
    top: 25%;
    left: 50%;
    margin: -200px 0 0 -600px;
}
input[type=text]
{
    width: 25%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}
#header
{
    background-color: 00FF7F;
    padding: 9px;
    border-radius: 4px;
}
h2
{
    text-align: center;
}
#header2
{
    border-top: solid green;
    padding: 13px;
}
#box,#result
{
     padding-left: 13px;
}
button {
    background-color: 00FF7F;
    color: 0000000;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
    font-style: bold;
}
